@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Welcome To ITI Attendance System</h1>
    <img src="~/Images/Bg1.jpg" class="center-block" />
</div>
<div class="container">
    <div class="row jumbotron">
        <div class="col-md-4 bg">
            <h2>Admin</h2>
            <p>
                <ul>
                    <li>Can Create New Admin Or Security</li>
                    <li>Can Accept Or Refuse Studnets Permissions</li>
                    <li>Show Students Attendance At Specific Day</li>
                </ul>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Security</h2>
            <p>
                <ul>
                    <li>
                        Take The Attendance Of Each Student
                        <ul>
                            <li>Arrival Time</li>
                            <li>Exit Time</li>
                        </ul>
                    </li>
                </ul>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Studnet</h2>
            <p>
                <ul>
                    <li>Show His Attendance History</li>
                    <li>Apply A Permission</li>
                    <li>Edit His Profile Info</li>
                </ul>
            </p>
        </div>
    </div>
</div>